@extend 'proto-ui.vusion/src/u-navbar.vue/item.vue/module.css';

.root {
    transition: color 0.3s;
}

.root::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    content: '•';
    font-size: 1.2em;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.root:hover {
    color: rgba(0, 0, 0, 0.75);
}

.root:hover::after {
    color: white;
    text-shadow: 10px 0 white, -10px 0 white;
}

.root[selected] {
    color: rgba(0, 0, 0, 0.75);
}

.root[selected]::after {
    color: white;
    text-shadow: 10px 0 white, -10px 0 white;
}
