@extend 'proto-ui.vusion/src/u-navbar.vue/item.vue/module.css';

.root {
    color: rgba(0, 0, 0, 0.25);
    transition: color 0.5s;
}

.root::before,
.root::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    opacity: 0;
    transition: all 0.3s;
}

.root::before {
    top: 0;
    transform: translateY(-10px);
}

.root::after {
    bottom: 0;
    transform: translateY(10px);
}

.root:hover {
    color: $brand-primary;
}

.root:hover::before,
.root:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.root[selected] {
    color: $brand-primary;
}

.root[selected]::before,
.root[selected]::after {
    opacity: 1;
    transform: translateY(0);
}
