@extend 'proto-ui.vusion/src/u-navbar.vue/item.vue/module.css';

.root {
    z-index: 1;
    color: color-mod($color-base lightness(50%));
    transition: all 0.5s;
}

.root::after {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 0;
    background-color: $brand-primary;
    opacity: 0;
    transition: all 0.5s;
}

.root:hover {
    color: white;
}

.root:hover::after {
    opacity: 1;
    height: 100%;
}

.root[selected] {
    color: white;
}

.root[selected]::after {
    opacity: 1;
    height: 100%;
}
