@extend 'proto-ui.vusion/src/u-navbar.vue/item.vue/module.css';

.root {
    transition: color 0.3s;
}

.root::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 3px;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(10px);
}

.root:hover {
    color: $brand-primary;
}

.root:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.root[selected] {
    color: $brand-primary;
}

.root[selected]::after {
    opacity: 1;
    transform: translateY(0);
}
