@extend 'proto-ui.vusion/src/u-navbar.vue/item.vue/module.css';

.root {
    padding: 0 6px;
    transition: color 0.3s;
}

.root::before,
.root::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

.root::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
}

.root::after {
    margin-left: 10px;
    content: ']';
    transform: translateX(-20px);
}

.root:hover {
    color: white;
}

.root:hover::before,
.root:hover::after {
    opacity: 1;
    transform: translateX(0);
}

.root[selected] {
    color: white;
}

.root[selected]::before,
.root[selected]::after {
    opacity: 1;
    transform: translateX(0);
}
